$background-color: #222831;
$border-color: #f2a365;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $background-color;
    color: #ececec;

    main {
        flex: 2;
        border: 2px solid $border-color;
        border-bottom: 0;
    }

    section {
        max-width: 800px;
        margin: 50px auto;
    }
}
